footer {
  background-color: #477998;
  color: white;
  padding: 30px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.footer a {
  color: #00eeff;
  text-decoration: none;
}
