body {
  scroll-behavior: smooth;
  background-color: #f8f9fa;
  color: #212529;
}

header {
  background: linear-gradient(135deg, #0d6efd, #6c63ff);
  color: white;
  padding: 100px 0;
  text-align: center;
}

section {
  padding: 30px 40px;
}

h2 {
  font-weight: 600;
  margin-bottom: 30px;
}

.section-bg {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 40px;
}

footer {
  background-color: #477998;
  color: white;
  padding: 30px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.carousel-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

/* Estilo do Card */

.card-section {
  padding: 60px 0;
}

.card-section h2 {
  text-align: start;
  font-size: 28px;
  margin-bottom: 40px;
  color: #0d6efd;
  font-weight: 600;
}

.card-section .section-bg {
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.card-section ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.8;
}

.card-section li {
  position: relative;
  margin-bottom: 12px;
  padding-left: 24px;
  color: #444;
  font-size: 16px;
}

.card-section li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: #3668d3;
  font-weight: bold;
}

.card-section .carousel {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 45px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10%;
}

.card-section .carousel-item img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
#backToTopBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 9999;
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#backToTopBtn.show {
  opacity: 1;
  visibility: visible;
}

#backToTopBtn:hover {
  background-color: #0b5ed7;
}
