body {
  background-color: #f8f7f9;
  color: #212529;
  height: 100vh;
}

.hero-section {
  background-image: url("../images/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 90vh;
  color: white;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  transform: scale(1.1);
  z-index: 0;
}

.hero-section .container {
  position: relative;
  z-index: 1;
}

.hero-btn {
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.hero-btn:hover {
  background-color: #477998;
  color: #fff;
  transform: scale(1.05);
}

#backToTopBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 9999;
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#backToTopBtn.show {
  opacity: 1;
  visibility: visible;
}

#backToTopBtn:hover {
  background-color: #0b5ed7;
}
